:root {
    --blue: #1892d4;
    --white: #FFFFFF;
    --grey: #e2e8f0;
    --yellow: #f0b42a;
    --text-gray: #636363;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: helvetica, sans-serif;
}

.main-container {
    /* border: 5px solid red; */
    
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";
}

/* NAVBAR SECTION START */

.navbar-section {
    /* border: 2px solid red; */
    
    grid-area: navbar;
    
    background: var(--blue);
    display: grid;
    grid-template-rows: .25fr 1fr 1fr;
    grid-gap: 0.9em;
    /* height: 100vh; */
}

.navbar-section button {
    /* border: 2px solid blue; */
    
    background: none;
    color: white;
    font-weight: bold;

    display: grid;
    grid-template-columns: .25fr 1fr;
}

.dashboard-logo-container {
    /* border: 3px solid blue; */

    display: grid;
    grid-template-columns: 0fr 1fr;
    align-content: center;
    padding-left: .5em;
}

.dashboard-logo {
    /* border: 3px solid red; */
    font-size: 3em;
}

.navbar-dashboard-logo {
    /* border: 3px solid red; */
    
    font-size: 2.5em;
    width: fit-content;
    align-items: center;
}

.navbar-button-group {
    display: flex;
    flex-direction: column;
}

.navbar-button-group button {
    font-size: 1.25em;
}

.navigation-button:hover {
    color: var(--yellow);
}

.navbar-section svg {
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2em;
    fill: var(--white);
}

.navbar-button-icon {
    /* border: 3px solid red; */

    width: 2em
}

.navbar-button-text {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* NAVBAR SECTION END */

/* HEADER SECTION START */

.header-section {
    /* border: 3px solid red; */

    grid-area: header;
    background-color: var(--white);
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
}

.header-children {
    /* border: 3px solid red; */
    
    width: 100%;
    grid-template-rows: 1fr 2fr;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* HEADER TOP ROW START */

.header-top-row {
    /* border: 3px solid red; */
    
    display: grid;
    grid-template-columns: 8.5fr 1fr 3.5fr;

    /* height: fit-content; */
}

.header-top-row > * {
    /* border: 3px solid red; */

    height: 4em;
    align-content: center;
    margin-top: 1em;
}

.header-searchbar-group {
    /* border: 3px solid red; */
    
    display: grid;
    grid-template-columns: 7% 85%;
}

.searchbar-container {
    /* border: 3px solid red; */
    
    display: grid;
}

.search-icon {
    /* border: 3px solid red; */
    
    background-image: url(icons/magnify.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}

.searchbar-container [type="text"] {
    background-color: var(--grey);
    height: 2em;
    border-radius: 30px;
    font-size: 1.15em;
    text-indent: 10px;
}

.searchbar-container [type="text"]:focus {
    outline: none;
}

.notify-group {
    /* border: 3px solid red; */
    
    display: grid;
    grid-template-columns: .7fr 1.3fr 2fr;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.bell-icon {
    /* border: 3px solid red; */
    
    background-image: url(icons/bell-icon.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}

.user-icon-small {
    /* border: 3px solid red; */
    
    background-image: url(icons/burger-profile-pic-100px.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 4em;
}

.user-name {
    /* border: 3px solid red; */
    
    display: grid;
    align-content: center;
    justify-content: center;

    font-size: 1.5em;
    font-weight: bolder;
}

/* HEADER BOTTOM ROW START */

.header-bottom-row {
    /* border: 3px solid red; */
    
    display: grid;
    grid-template-columns: .7fr 3.5fr .5fr 1fr;
    /* height: 73%; */
}

.user-icon-large {
    /* border: 3px solid red; */
    
    background-image: url(icons/burger-profile-pic-100px.png);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    background-position: center;
}

.greeting-section {
    /* border: 3px solid red; */

    display: flex;
    align-content: center;
}

.greeting {
    /* border: 3px solid red; */
    
    font-weight: bold;
    font-size: 1.2em;
}

.name-username {
    /* border: 3px solid red; */
    
    font-weight: bold;
    font-size: 2em;
}

.header-bottom-row button {
    /* border: 3px solid red; */
    
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    width: 6em;
    height: 2.5em;
    font-size: 1em;
}

.header-button-group {
    /* border: 3px solid red; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 22em;
}

.header-button-group button:hover {
    color: var(--yellow);
}

.greeting-section {
    /* border: 3px solid red; */
    
    display: grid;
}

/* HEADER END */

/* MAIN CONTENT SECTION START */

.main-content-section {
    /* border: 3px solid red; */
    
    grid-area: main;
    background-color: var(--grey);
}

.main-content-container {
    /* border: 3px solid blue; */
    
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 2fr .85fr;
    padding: 1.5em;
    padding-top: 2em;
}

.main-content-left-section,
.main-content-right-section {
    /* border: 3px solid teal; */
}

/* MAIN CONTENT LEFT SECTION START */

.main-content-left-section {
    /* border: 3px solid teal; */
    
    display: grid;
    grid-template-rows: 0fr 1fr;
}

.your-projects-title,
.trending-title,
.announcements-title {
    font-weight: bold;
    padding-bottom: 10px;
}

.your-projects-container {
    /* border: 3px solid red; */

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
    gap: 2em;
}

.your-projects-child {
    /* border: 3px solid red; */
    
    border-left: 8px solid var(--yellow);
    border-radius: 10px;
    background-color: var(--white);

    display: grid;
    grid-template-rows: 0fr 1fr .3fr;
    padding: 1.5em;
}

.section-title {
    /* border: 3px solid plum; */

    font-size: 1.2em;
}

.project-title {
    /* border: 3px solid red; */
    
    font-size: 1.3em;
    font-weight: bold;

    box-sizing: border-box;
    padding-bottom: .2em;
}

.project-body {
    /* border: 3px solid red; */

    color: var(--text-gray);
}

.project-engagement-buttons-section {
    /* border: 3px solid blue; */
    
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.project-engagement-buttons {
    /* border: 3px solid red; */
    display: flex;
    justify-content: space-between;
    width: 10em;
}

.star-icon {
    /* border: 3px solid teal; */
    
    background-image: url(icons/star.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
}

.eye-icon {
    /* border: 3px solid teal; */
    background-image: url(icons/eye.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
}

.share-icon {
    /* border: 3px solid teal; */
    background-image: url(icons/share.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 25%;
}

.your-projects-child > * {
    /* border: 3px solid red; */
}

/* MAIN CONTENT RIGHT SECTION START */
.main-content-right-section {
    /* border: 3px solid teal; */

    display: grid;
    grid-template-rows: 0fr 1fr .1fr 0fr 1fr;
    padding-left: 2em;
}

.announcements-title,
.trending-title {
    /* border: 3px solid plum; */
    
    font-weight: bold;
    height: fit-content;
}

.announcements-container,
.trending-container {
    /* border: 3px solid turquoise; */
    
    display: grid;
}

.announcements-content,
.trending-content {
    /* border: 3px solid tomato; */
    
    border-radius: 10px;
}

/* ANNOUNCEMENTS SECTION */
.announcements-container {

}

.announcements-content {
    /* border: 3px solid blue; */

    display: grid;
    gap: 1em;

    padding: 2em;
    background-color: var(--white);
}

.announcements-child {
    display: grid;
}

.announcements-middle-child {
    border-top: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
    padding-top: 1em;
    padding-bottom: 1em;
}

.announcements-child-title {
    font-size: 1em;
    font-weight: bold;
}

.announcements-child-body {
    /* border: 3px solid red; */
    
    font-size: 0.9em;
    color: var(--text-gray);
}

/* TRENDING SECTION */
.trending-container {

}

.trending-content {
    display: grid;

    grid-template-rows: repeat(4, 1fr);
    background-color: var(--white);
    height: 100%;
    padding: 1.5em;
}

.trending-child {
    /* border: 3px solid lightpink; */
    
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.icon {
    /* border: 3px solid teal; */
}

.trending-name-project {
    /* border: 3px solid lightcoral; */

    display: grid;
    padding-left: 1em;
    font-size: 1.1em;
}

.trending-name-project > * {
    /* border: 3px solid lightblue; */
}

.tegan-icon {
    background-image: url(icons/tegans-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.morgan-icon {
    background-image: url(icons/morgan-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.kendall-icon {
    background-image: url(icons/kendall-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.alex-icon {
    background-image: url(icons/alex-icon.svg);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.trending-user-handle {
    display: flex;
    align-items: flex-end;
}

.trending-user-project {
    color: var(--text-gray);
}