:root {
    --blue: #1892d4;
    --white: #FFFFFF;
    --grey: #e2e8f0;
    --yellow: #f0b42a;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.main-container {
    /* added a temporary border to visualize container */
    border: 5px solid red;
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";

}

.navbar {
    grid-area: navbar;
    
    background: var(--blue);
    display: grid;
    grid-template-rows: 2fr repeat(18, 1fr);
    justify-items: start;
}

.navbar button {
    /* border: 5px solid blue; */
    
    background: none;
    color: white;
    font-size: 2em;
}

/* HEADER TOP ROW START */

/* TEMPORARY CODE TO TOGGLE BOARDER ON HEADER'S CHILDREN */
/* .header-top-row,
.header-bottom-row > * {
    border: 2px solid green;
} */

.header {
    border: 3px solid blue;

    grid-area: header;
    background-color: var(--white);
    width: 100%;
}

.header-children {
    border: 3px solid pink;
    
    width: 100%;
    grid-template-rows: 1fr 2fr;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* HEADER TOP ROW START */

.header-top-row {
    /* border: 3px solid orange; */
    
    display: grid;
    grid-template-columns: 10.5fr 2fr 3fr;

    height: fit-content;
}

.header-top-row > * {
    /* border: 2px solid green; */

    height: 4em;
    align-content: center;
}

#search-group {
    /* border: 3px solid blue; */
    
    display: grid;
    grid-template-columns: 7% 85%;
}

.searchbar-container {
    /* border: 3px solid orange; */
    
    display: grid;
}

.search-icon {
    /* border: 3px solid pink; */
    
    background-image: url(/icons/magnify.svg);
    background-repeat: no-repeat;
    background-size: 2em;
}

.searchbar-container [type="text"] {
    background-color: var(--grey);
    height: 3em;
    border-radius: 20px;
}

.notify-group {
    /* border: 3px solid brown; */
    
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    align-content: center;
}

.bell-icon {
    background-image: url(/icons/bell-ring-outline.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}

.user-icon-small {
    background-image: url(/icons/burger-profile-pic-100px.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 4em;
}

.user-name {
    /* border: 3px solid pink; */
    
    display: grid;
    align-content: center;
    justify-content: center;

    font-size: 1.2em;
    font-weight: bolder;
}

/* HEADER BOTTOM ROW START */

.header-bottom-row {
    /* border: 3px solid pink; */
    
    display: grid;
    grid-template-columns: .7fr 3.5fr 1fr 2.5fr;
    height: 73%;
}

.user-icon-large {
    /* border: 2px solid pink; */
    
    background-image: url(/icons/burger-profile-pic-100px.png);
    background-size: 90px;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    background-position: center;
}

.greeting-section {
    /* border: 3px solid gold; */

    display: flex;
    align-content: center;
}

.greeting {
    font-weight: bold;
}

.name-username {
    font-weight: bold;
    font-size: 1.5em;
}

.header-bottom-row button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    width: 10em;
    height: 4em;
}

.button-group {
    /* border: 3px solid green; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.greeting-section {
    /* border: 3px solid pink; */
    
    display: grid;
}

.main-content {
    grid-area: main;

    background-color: var(--grey);
}