:root {
    --navbar-blue: #1892d4;
    --white: #FFFFFF;
    --background-grey: #e2e8f0;
    --grid-tab-yellow: #f0b42a;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.main-container {
    /* added a temporary border to visualize container */
    border: 5px solid red;
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 13em 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";

}

.navbar {
    grid-area: navbar;
    
    background: var(--navbar-blue);
    display: grid;
    grid-template-rows: 2fr repeat(18, 1fr);
    justify-items: center;
}

.navbar button {
    border: 5px solid blue;
    
    background: none;
    color: white;
    font-size: 2em;
}

.header {
    grid-area: header;
    background-color: var(--white);
}

.main-content {
    grid-area: main;

    background-color: var(--background-grey);
}