:root {
    --blue: #1892d4;
    --white: #FFFFFF;
    --grey: #e2e8f0;
    --yellow: #f0b42a;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: helvetica, sans-serif;
}

.main-container {
    /* added a temporary border to visualize container */
    /* border: 5px solid red; */
    
    display: grid;
    grid-template-columns: .5fr 1fr 1fr;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";
}

/* NAVBAR SECTION START */

.navbar {
    grid-area: navbar;
    
    background: var(--blue);
    display: grid;
    grid-template-rows: .25fr 1fr 1fr;
    grid-gap: 0.9em;
}

.navbar button {
    /* border: 5px solid blue; */
    
    background: none;
    color: white;
    font-weight: bold;
}

.dashboard-logo {
    font-size: 2.5em;
}

.button-group button {
    font-size: 1.25em;
}

.navigation-button {
    /* border: 3px solid green; */

    /* width: fit-content; */
}

.navigation-button:hover {
    /* transform: translate(25px); */
    color: var(--yellow);
}

.navbar svg {
    background-repeat: no-repeat;
    background-position: center;
    width: 1.2em;
    fill: var(--white);
}

.navbar button {
    /* border: 3px solid pink; */
    
    display: grid;
    grid-template-columns: .25fr 1fr;
}

.button-group {
    display: flex;
    flex-direction: column;
}

.icon {
    /* border: 3px solid red; */

    width: 2em;
}

.button-text {
    /* border: 3px solid pink; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* NAVBAR SECTION END */
/* ///////////////////////////////////////////////////////////// */
/* HEADER SECTION START */

.header {
    /* border: 3px solid blue; */

    grid-area: header;
    background-color: var(--white);
    width: 100%;
    padding-right: 2em;
    padding-left: 2em;
}

.header-children {
    /* border: 3px solid pink; */
    
    width: 100%;
    grid-template-rows: 1fr 2fr;
    display: grid;
    align-items: center;
    justify-content: center;
}

/* HEADER TOP ROW START */

.header-top-row {
    /* border: 3px solid orange; */
    
    display: grid;
    grid-template-columns: 8.5fr 1.5fr 3fr;

    height: fit-content;
}

.header-top-row > * {
    /* border: 2px solid green; */

    height: 4em;
    align-content: center;
    margin-top: 1em;
}

#search-group {
    /* border: 3px solid blue; */
    
    display: grid;
    grid-template-columns: 7% 85%;
}

.searchbar-container {
    /* border: 3px solid orange; */
    
    display: grid;
}

.search-icon {
    /* border: 3px solid pink; */
    
    background-image: url(/icons/magnify.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}

.searchbar-container [type="text"] {
    background-color: var(--grey);
    height: 2em;
    border-radius: 30px;
    font-size: 1.5em;
    text-indent: 10px;
}

.searchbar-container [type="text"]:focus {
    outline: none;
}

.notify-group {
    /* border: 3px solid brown; */
    
    display: grid;
    grid-template-columns: .5fr 1.3fr 2fr;
    align-content: center;
}

.bell-icon {
    background-image: url(/icons/bell-ring-outline.svg);
    background-repeat: no-repeat;
    background-size: 2em;
    background-position: center;
}

.user-icon-small {
    background-image: url(/icons/burger-profile-pic-100px.png);
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: center;
    height: 4em;
}

.user-name {
    /* border: 3px solid pink; */
    
    display: grid;
    align-content: center;
    justify-content: center;

    font-size: 1.5em;
    font-weight: bolder;
}

/* HEADER BOTTOM ROW START */

.header-bottom-row {
    /* border: 3px solid pink; */
    
    display: grid;
    grid-template-columns: .7fr 3.5fr .5fr 2.5fr;
    height: 73%;
}

.user-icon-large {
    /* border: 2px solid pink; */
    
    background-image: url(/icons/burger-profile-pic-100px.png);
    background-size: 70px;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    background-position: center;
}

.greeting-section {
    /* border: 3px solid gold; */

    display: flex;
    align-content: center;
}

.greeting {
    font-weight: bold;
    font-size: 1.2em;
}

.name-username {
    font-weight: bold;
    font-size: 2em;
}

.header-bottom-row button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    width: 5.5em;
    height: 2em;
    font-size: 1.5em;
}

.header-button-group {
    /* border: 3px solid green; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-button-group button {
    font-weight: bold;
}

.header-button-group button:hover {
    color: var(--yellow);
}

.greeting-section {
    /* border: 3px solid pink; */
    
    display: grid;
}

/* HEADER END */
/* ///////////////////////////////////////////////////////////// */
/* MAIN CONTENT START */

.main-content {
    grid-area: main;

    background-color: var(--grey);
}