:root {
    --navbar-blue: #1892d4;
    --white: #FFFFFF;
    --background-grey: #e2e8f0;
    --grid-tab-yellow: #f0b42a;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.main-container {
    /* added a temporary border to visualize container */
    border: 5px solid red;
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";

}

.navbar {
    grid-area: navbar;
    
    background: var(--navbar-blue);
    display: grid;
    grid-template-rows: 2fr repeat(18, 1fr);
    justify-items: start;
}

.navbar button {
    /* border: 5px solid blue; */
    
    background: none;
    color: white;
    font-size: 2em;
}

.header {
    grid-area: header;
    background-color: var(--white);
}

/* .header-top-row,
.header-bottom-row > * {
    border: 2px solid green;
} */

.header-children {
    grid-template-rows: 1fr 2fr;
    display: grid;
    align-items: center;
    justify-items: space-inbetween;
}

.header-top-row {
    display: grid;
    grid-template-columns: 1fr 3fr .5fr .5fr 2fr;

    height: fit-content;
}

.header-bottom-row {
    /* border: 3px solid pink; */
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr 1fr 1fr;
    height: 50%;
    align-items: end;
}

.header-bottom-row button {
    background-color: var(--navbar-blue);
    color: var(--white);
    border-radius: 30px;
    width: 10em;
    height: 4em;
}

.greeting-section {
    /* border: 3px solid pink; */
    
    display: grid;
}

.main-content {
    grid-area: main;

    background-color: var(--background-grey);
}