:root {
    --blue: #1892d4;
    --white: #FFFFFF;
    --grey: #e2e8f0;
    --yellow: #f0b42a;
}

* {
    border: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100%;
}

.main-container {
    /* added a temporary border to visualize container */
    border: 5px solid red;
    
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 20% 80%;
    grid-template-areas: 
    "navbar header header header header"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main"
    "navbar main main main main";

}

.navbar {
    grid-area: navbar;
    
    background: var(--blue);
    display: grid;
    grid-template-rows: 2fr repeat(18, 1fr);
    justify-items: start;
}

.navbar button {
    /* border: 5px solid blue; */
    
    background: none;
    color: white;
    font-size: 2em;
}

.header {
    grid-area: header;
    background-color: var(--white);
    justify-content: center;
}

/* TEMPORARY CODE TO TOGGLE BOARDER ON HEADER'S CHILDREN */
.header-top-row,
.header-bottom-row > * {
    border: 2px solid green;
}

.header-children {
    border: 3px solid pink;
    grid-template-rows: 1fr 2fr;
    display: grid;
    align-items: center;
    justify-content: center;
}

.header-top-row {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 3fr;

    height: fit-content;
}

.header-top-row > * {
    border: 2px solid green;
}

#search-group {
    display: grid;
    grid-template-columns: 12% 88%;
    border: 3px solid blue;
}

.search-icon {
    background-image: url(/icons/magnify.svg);
    background-repeat: no-repeat;
    border: 3px solid pink;
}

.searchbar-container {
    border: 3px solid orange;
    
    display: grid;
}

.bell-icon {
    background-image: url(/icons/bell-ring-outline.svg);
    background-repeat: no-repeat;
    width: 50%;
}

.header-top-row [type="text"] {
    background-color: var(--grey);
    height: 3em;
    border-radius: 20px;
}

.header-bottom-row {
    /* border: 3px solid pink; */
    
    display: grid;
    grid-template-columns: 1fr 4.5fr 1fr 1fr 1fr;
    height: 73%;
    align-items: end;
}

.user-icon-large {
    /* border: 2px solid pink; */
    
    background-image: url(/icons/burger-profile-pic-100px.png);
    background-size: 90px;
    background-repeat: no-repeat;
    height: 100%;
    width: 90%;
    box-sizing: border-box;
    background-position: center;
}

.header-bottom-row button {
    background-color: var(--blue);
    color: var(--white);
    border-radius: 30px;
    width: 10em;
    height: 4em;
}

.greeting-section {
    /* border: 3px solid pink; */
    
    display: grid;
}

.main-content {
    grid-area: main;

    background-color: var(--grey);
}